<h5>Renk Listesi</h5>
<table class="table table-bordered table-condensed table-hover">
    <thead class="thead-dark">
        <tr scope="col">Renk</tr>
        <th>İşlemler</th>
    </thead>
    <tbody>
        <tr *ngFor = "let color of colors">
            <td>{{color.colorName}}</td>
            <td class="operations">
                <button class="btn btn-info" routerLink="/colors/update/{{color.colorId}}">Güncelle</button>
                <button class="btn btn-primary">Sil</button>
            </td>
        </tr>
    </tbody>
</table>