<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listele
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="cars/add">Araba</a></li>
            <li><a class="dropdown-item" routerLink = "brands/add">Marka</a></li>
            <li><a class="dropdown-item" routerLink = "colors/add">Renk</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="isAuth()" class="nav-item dropdown mb-e">
            <button id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"
            class="btn btn-info dropdown-toggle">
          <strong><i class="fas fa-user"></i>&nbsp;
            {{ userName}} 
          </strong>
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="profile"><i class="fas fa-id-card"></i>&nbsp;&nbsp;Profil</a></li>
            <li><a class="dropdown-item" routerLink=""><i class="fas fa-history"></i>&nbsp;&nbsp;Geçmiş</a></li>
          </ul>
          </li>
        </ul>
      </form>
      <li *ngIf="isAuth()" class="nav-item">
        <button class="btn btn-danger" (click)="logout()" style="color: beige;" routerLink="/cars">
          <i class="fas fa-sign-out-alt"></i>
          <strong>&nbsp; Çıkış yap </strong>
        </button>
      </li>
      <li *ngIf="!isAuth()" class="nav-item">
        <button class="btn btn-success me-3" routerLink="/login"><strong>Giriş Yap</strong></button>
        <button class="btn btn-primary" routerLink="/register"><strong>Kayıt Ol</strong></button>
      </li>
    </div>
  </div>
</nav>