<!--
<div class="card">
    <div class="card-header"><h5 class="title" font-weighy-bold>Marka Güncelle</h5></div>
    <div class="card-body">
        <form [formGroup] = "brandUpdateForm">
            <div class="row">
                <div class="mb-3">
                    <label for = "name">Marka</lael>
                    <div class="form-group">
                        <input type="text" id="name" class="form-control" formControlName="name" value="{{brand?.name}}"/>
                    </div> 
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-fill btn-primary" [routerLink] = "['/brands']" (click) = "updateBrand()">Marka Güncelle</button>
    </div>
</div>
-->
  
<div class="card">
    <div class="card-header"><h5 class="title font-weight-bold">Marka Güncelle </h5></div>
  
    <div class="card-body">
  
      <form [formGroup]="brandUpdateForm">
 
        <div class="row">
            <div class="mb-3">
                <label for="brandName">Marka</label>
                <div class="form-group">
                    <input type="text" id="brandName" class="form-control" formControlName="brandName" value="{{brand.brandName}}"  />                   
                </div>
            </div>
        </div>

      </form>
  
    </div>
  
    <div class="card-footer">
      <button class="btn btn-fill btn-primary" [routerLink]="['/brandlist']" (click)="updateBrand()">Marka Güncelle</button>
    </div>
  
  </div>