
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardModal">
  Kart Ekle
</button>

<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cardModalLabel">Kredi Kartı Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="content">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <form [formGroup]="addCreditCardForm">
                            <input type="hidden" formControlName="customerId">
                            <label for="nameOnTheCard"> Kart üzerindeki isim ve soyisim </label>
                            <div class="form-group">
                                <input type="text" id="nameOnTheCard" formControlName="nameOnTheCard" class="form-control" placeholder=" "/>
                            </div>
                            <label for="cardNumber">Kart Numarası</label>
                            <div class="form-group">
                                <input type="text" id="cardNumber" formControlName="cardNumber" class="form-control" placeholder=" "/>
                            </div>
                            <label for="expirationDate">Son Kullanım Tarihi</label>
                            <div class="form-group">
                                <input type="text" id="expirationDate" formControlName="expirationDate" class="form-control" placeholder=" "/>
                            </div>
                            <label for="cardCvv">CVV</label>
                            <div class="form-group">
                                <input type="text" id="cardCvv" formControlName="cardCvv" class="form-control" placeholder=" "/>
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click) ="addCreditCard()">Save changes</button>
      </div>
    </div>
  </div>
</div>