<div class="mb-3">
  <label for="filterBrandText" class="form-label">Marka Ara</label>
  <input type="text" [(ngModel)]="filterBrandText" class="form-control" id="filterBrandText" placeholder="Arama ifadesi giriniz..">
</div>
<div *ngIf="filterBrandText" class="alert alert-success">
  {{filterBrandText}} aradınız
</div>
<ul class="list-group">
  <li [ngClass] = "getAllBrandClass()"
  routerLink="/cars">Tüm Markalar</li>
  <li 
  (click)="setCurrentBrand(brand)"
  routerLink="/cars/brand/{{brand.brandId}}"
   *ngFor="let brand of brands | brandFilterPipe : filterBrandText" 
   [ngClass]="getCurrentBrandClass(brand)">
    {{brand.brandName}}
  </li>
</ul>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>
<br>

