<br>
<h3 class="d-flex justify-content-center">CAR DETAILS</h3>
<br>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
     
    </div>
    <div class="carousel-inner">
      <div *ngFor="let image of carImages" [class]="getCurrentImageClass(image)">
        <img src="{{imageBasePath}}{{image.imagePath}}" class="d-block w-100" alt="Image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  
  <div class="table-responsive-md">
    <table class="table table-striped table-hover table-bordered" id="cardetail">
      <thead id=cardetailhead>
          <tr>
              <th>Brand</th>
              <th>Color</th>
              <th>Model Year</th>
              <th>Daily Price</th>
              <th>Description</th>
              <th>Findex Puan</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>{{cars.brandName}}</td>
              <td>{{cars.colorName}}</td>
              <td>{{cars.modelYear}}</td>
              <td>{{cars.dailyPrice}}</td>
              <td>{{cars.description}}</td>
              <td style="background-color: aquamarine;">{{cars.carFindex}}</td>
          </tr>
      </tbody>
    </table>
  </div>
<hr>
<div>
  <div class="d-grid gap-2 mb-2">
    <div *ngIf = "cars.status == true" class="dd-grid gap-2 mb-2">
      <div style="margin: auto;">
        <app-rental [car] = "cars"></app-rental>
      </div>
    </div>
  </div>
  <div class="dd-grid gap-2 mb-2" *ngIf = "cars.status == false">
    <div class="alert alert-danger">Araç şu an kiralanamaz.</div>
  </div>
</div> 
