<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" src = "app.component.css">
  </head>
  <body>
</body>
</html>
<app-navi></app-navi>
<br><br>
<div class="container">
 <div class="row">
    <div class="col-md-12">
      <app-tab></app-tab>
  </div>
  </div>

  <div class ="row">
    <div class="col-md-3">
      <app-brand></app-brand>
      <app-color></app-color>
      <app-filter></app-filter>
    </div>
    <div class="col-md-9">
      <div class="body">
      <router-outlet></router-outlet></div>
    </div>

  </div>
  </div>

