<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" src = "app.component.css">
  </head>
  <body>
</body>
</html>

<app-navi></app-navi>
<div class="container">
  <div class="row">
    <div class="col-md-3">
  <app-brand></app-brand>
  </div>
  <div class="col-md-9">
  <app-car></app-car>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-color></app-color>
    </div>
    <div class="col-md-6">
      <app-customer></app-customer>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-rental></app-rental>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
