
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Kullanıcı Güncelle
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Your Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="content">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="userUpdateForm">
                                <label for="firstName"> First Name</label>
                                <div class="form-group">
                                    <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="{{user?.firstName}}"/>
                                </div>
                                <label for="lastName"> Last Name</label>
                                <div class="form-group">
                                    <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="{{user?.lastName}}"/>
                                </div>
                                <label for="email"> Email</label>
                                <div class="form-group">
                                    <input type="text" id="email" formControlName="email" class="form-control" placeholder="{{user?.email}}"/>
                                </div>
                                <label for="password"> Password</label>
                                <div class="form-group">
                                    <input type="text" id="password" formControlName="password" class="form-control" placeholder="********"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click) ="updateUser()">Save changes</button>
        </div>
      </div>
    </div>
  </div>