<div class="card">
    <div class="card-header"><h5 class="title font-weight-bold">Araba</h5></div>

    <div class="card-body">
        <form [formGroup] = "carUpdateForm">
                <div class="mb-3">
                    <label for = "description">Açıklama</label>
                    <div class="form-group">
                        <input type="text" id="description" class="form-control" 
                        formControlName = "description" value="{{car.description}}"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label for = "brandId">Marka Adı</label>
                    <div class="form-group">
                        <select id="brandId" class="form-select" formControlName = "brandId">
                            <option [ngValue]="brand.brandId" *ngFor = "let brand of brands">{{brand.brandName}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="modelYear">Model Yılı</label>
                    <div class="form-group">
                        <input type="number" id="modelYear" class="form-control"
                        formControlName="modelYear" value="{{car.modelYear}}">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="dailyPrice">Günlük Fiyat</label>
                    <div class="form-group">
                        <input type="number" id="dailyPrice" class="form-control"
                        formControlName = "dailyPrice" value="{{car.dailyPrice}}">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="colorId">Renk Adı</label>
                    <div class="form-group">
                        <select id="colorId" type="number" class="form-select" formControlName="colorId">
                            <option [ngValue] = "color.colorId" *ngFor="let color of colors">{{color.colorName}}</option>
                        </select>                 
                    </div>

            </div>
            <div class="mb-3">
                <div class="form-group">
                <app-car-image [car]="car"></app-car-image>
            </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-fill btn-primary" [routerLink]="['/carlist']" (click)="updateCar()">Araba Güncelle</button>
    </div>
