<!--<nav id="navbar-example2" class="tabs">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#customer">Müşteri Tablosu</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#rental">Kira Tablosu</a>
      </li>
    </ul>
  </nav>
  <br>
  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <div id="customer"><app-customer></app-customer></div>
    <br>
    <div id="rental"><app-rental></app-rental>></div>
    <br>
  </div>-->
