<nav id="navbar-example2" class="tabs">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#car">Araba Tablosu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#brand">Marka Tablosu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#color">Renk Tablosu</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="#customer">Müşteri Tablosu</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#rental">Kira Tablosu</a>
      </li>
    </ul>
  </nav>
  <br>
  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <div id="car"><app-car></app-car></div>
    <br>
    <div id="brand"><app-brand></app-brand></div>
    <br>
    <div id="color"><app-color></app-color></div>
    <br>
    <div id="customer"><app-customer></app-customer></div>
    <br>
    <div id="rental"><app-rental></app-rental>></div>
    <br>
  </div>