
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let car of cars">
      <div class="card h-100">
        <!-- ! Araclarin default imajlari getirilecek -->
        <img
          src="{{car.imagePath}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">Marka : {{ car.brandName }}</p>
          <p class="card-text">Model YIl : {{ car.modelYear }}</p>
          <p class="card-text">Renk : {{ car.colorName }}</p>
          <p class="card-text">Günlük Fiyat: {{ car.dailyPrice }} ₺</p>
          <p class="card-text">Açıklama : {{car.description}}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <input
            class="btn btn-primary"
            type="button"
            value="Details"
            routerLink="/cardetail/{{ car.carId }}"
          />
          <input class="btn btn-primary" type="button" value="Rent" />
        </div>
      </div>
    </div>