<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz..">
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{filterText}} aradınız
</div>
  <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let car of cars | carFilterPipe:filterText">
          <div  class="card" style="width: 100%;">
              <img src="{{imageBasePath}}{{car.imagePath}}" class="card-img-top" alt="Araba Resmi">
              <div class="card-body">
                <h5 class="card-title text-center">{{car.description | uppercase}}</h5>
                <hr>
                <p> <b>Marka :</b> {{car.brandName }} </p>
                <hr>
                <p> <b>Model Yılı :</b> {{car.modelYear}} </p>
                <hr>
                <p> <b class="pull-left">Günlük Fiyatı :</b> {{car.dailyPrice|currency: "TRY":""}} ₺</p>
                <hr>
                <p> <b>Renk :</b> {{car.colorName}} </p>
                <hr>
                <p> <b>Findex :</b> {{car.carFindex}} </p>
                <hr>
                <a routerLink="/cars/detail/{{car.carId}}" class="btn btn-outline-dark mt-2">Detay</a>
              </div>
            </div>
          </div>
        </div>
  


